NEXT_PUBLIC_SITE_URL=https://studiocodeart.pl
RESEND_API_KEY=re_re_9upmVFFV_VAois5jnc6H3EmauXyagiwZ4
RESEND_TO_EMAIL=konradbauer94@gmail.com
# RESEND_FROM_EMAIL=kontakt@studiocodeart.pl  # wymaga zweryfikowanej domeny w Resend; bez tej zmiennej używa onboarding@resend.dev
NEXT_PUBLIC_FB_PIXEL_ID=000000000000000
